# App
APP_NAME=nestjs-template
APP_VERSION=1.0.0
# HTTP
PORT=4000
# DB
DATABASE_URL=postgres://postgres:postgres@localhost:5432/nestjs-template
# Tracing
OTEL_EXPORTER_OTLP_ENDPOINT=http://localhost:4318
# Logger
LOG_LEVEL=debug